* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Navbar */
  nav {
    display: flex;
    background: #f4f3f3;
    height: 7vh;
  }
  
  nav div {
    display: flex;
    align-items: center;
    flex: 50%;
  }
  
  nav div.left-side {
    padding-left: 90px;
  }
  
  nav div.right-side {
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin-left: 40px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 40px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  nav ul li a.list-active {
    color: black;
    font-weight: 700;
  }
  
  nav .right-side a {
    font-size: 15px;
    padding: 8px 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* myproject Form */
  /* MY PROJECT */
.my-project {
  padding: 80px;
  justify-content: center;
}
  .myproject-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  
  .myproject-form .form-container {
    width: 500px;
  }
  
  .myproject-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .myproject-form form label {
    font-size: 20px;
    font-weight: 400;
  }
  
  .myproject-form form input,
  textarea,
  select {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }
  
  .myproject-form form textarea {
    height: 250px;
  }
  
  .myproject-form form .input-myproject-image-group {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .myproject-form form .input-myproject-image-group label p {
    font-size: 15px;
  }
  
  .myproject-form form .input-myproject-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .myproject-form form .button-group {
    text-align: right;
  }
  
  .myproject-form form button {
    margin-top: 50px;
    padding: 8px 20px;
    font-size: 17px;
    background: black;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .myproject hr {
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* myproject list */
  .myproject .myproject-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .myproject .myproject-list .myproject-list-item {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    display: flex;
  }
  
  .myproject .myproject-list .myproject-list-item .myproject-image {
    flex: 1;
  }
  
  .myproject .myproject-list .myproject-list-item .myproject-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .myproject .myproject-list .myproject-list-item .myproject-Description {
    padding-left: 20px;
    flex: 2;
  }
  
  .myproject .myproject-list .btn-group {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .myproject .myproject-list .btn-group .btn-edit {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #dbdbdb;
  }
  
  .myproject .myproject-list .btn-group .btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: black;
    color: #fff;
  }
  
  .myproject .myproject-list h1 a {
    text-decoration: none;
    color: #000000;
  }
  
  .myproject .myproject-list .detail-myproject-Description {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
  }
  
  .myproject .myproject-list .myproject-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
  
  /* myproject Detail */
  .myproject-detail {
    display: flex;
    justify-content: center;
  }
  
  .myproject-detail-container {
    width: 80%;
    margin: 40px 0;
  }
  
  .myproject-detail-container img {
    width: 100%;
  }
  
  .myproject-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  
  .myproject-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  
  .myproject-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}